.search-container {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.search-container form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-input {
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: large;
  margin: 30px 0;
  padding: 10px;
  width: 20%;
}

.search-btn {
  background: white;
  border: 1px solid blue;
  border-radius: 2px;
  color: blue;
  cursor: pointer;
  font-weight: 900;
  margin-left: 10px;
  padding: 10px 15px;
  transition: 0.4s ease;
}

.search-btn:hover {
  background-color: blue;
  color: white;
}

.album-page {
  text-align: center;
}

.albuns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 50px;
}

.album-card {
  align-items: center;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 300px;
}

.album-card img {
  height: 50%;
}

.album-card .title {
  font-weight: 700;
  margin-bottom: 5px;
}

.album-card a {
  background: purple;
  border-radius: 20px;
  color: white;
  margin-top: 5px;
  padding: 5px 10px;
  text-decoration: none;
}
