.header-container {
  display: flex;
  flex-direction: column;
}

.top-section {
  align-items: center;
  background: purple;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 40px;
}

.top-section img {
  height: 95%;
  border-radius: 15px;
}

.user-info {
  align-items: center;
  background: white;
  border-radius: 25px;
  display: flex;
  padding: 3px 8px;
}

.user-info i {
  font-size: 40px;
}

.user-info p {
  margin: 0 25px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.nav-bar a {
  background: #f0f2f5;
  color: purple;
  font-weight: 900;
  padding: 20px 0;
  text-decoration: none;
  width: 33.2%;
}
